body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
    border-radius: 20%;
    box-shadow: 3px 3px 15px #20A4F3;
}

.info{
    margin: auto;
}
.info:hover{
    color: #004D8C;
}
.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #4DF1E1;
    color: #2b2839;
    border-bottom: 10px solid #FF517D;
    line-height: 12px
}

.border-blue {
    border: 1px dotted blue;
}

